<svg xmlns="http://www.w3.org/2000/svg" width="55" height="46" viewBox="-1 0 51 46">
    <defs>
        <style>
            .segevs-cls-1 {
                font-size: 139px;
                fill: #76c0f0;
                font-family: "Microsoft Sans Serif";
            }

            .segevs-cls-2 {
                fill: #56595e;
            }
        </style>
    </defs>
    <text id="_s_" data-name="{s}" class="segevs-cls-1" transform="translate(-3.541 34.778) scale(0.334)">{<tspan
            class="segevs-cls-2">s</tspan>}</text>
</svg>