{{ define "main" }}

<div class="logos-page">
    <div class="logos-grid primary">
        <div class="logo-display large">
            <div class="logo-back">
                <a href="https://fotoshoot.com">
                    <img src="/img/logos/fs-logo.svg"
                        alt="fotoshoot.com - where professional models and photographer collaborate" />
                </a>
            </div>
        </div>

        <div class="logo-display phub large">
            <div class="logo-back">
                <a href="https://productivehub.com">
                    <img src="/img/logos/phub-logo.svg" alt="Get your project(s) done - CTO services" />
                </a>
            </div>
        </div>
        <div class="logo-display git">
            <div class="logo-back">
                <a href="https://github.com/segevsh" target="_blank" rel="noreferrer nofollow noindex noopener">
                    <img src="/img/icons/github.png" />
                </a>
            </div>
        </div>
        <div class="logo-display angel">
            <div class="logo-back">
                <a href="https://angel.co/u/segev-shmueli" target="_blank" rel="noreferrer nofollow noindex noopener">
                    <img src="/img/icons/angellist.png" />
                </a>
            </div>
        </div>
        <div class="logo-display in">
            <div class="logo-back ">
                <a href="https://www.linkedin.com/in/segevshmueli" target="_blank"
                    rel="noreferrer nofollow noindex noopener">
                    <img src="/img/icons/linkedin.png" />
                </a>
            </div>
        </div>
        <div class="logo-display stack">
            <div class="logo-back ">
                <a href="https://stackoverflow.com/users/1102478/segev-cj-shmueli" target="_blank"
                    rel="noreferrer nofollow noindex noopener"><img src="/img/icons/stackoverflow.png" /></a>
            </div>
        </div>
    </div>
</div>

{{ end }}