:root {
    // font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-family: Roboto, "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
    font-size: 1rem;


    --color-text: #000;
    --color-link: #000;

    --color-header-nav-button-bg: rgb(81, 78, 78);
    --color-header-nav-button-hover: rgb(93, 93, 93);

    --header-nav-height: 50px;
    
}
